DJANGO_ENV=development
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

DJANGO_DB_ENGINE=postgresql
DJANGO_DB_NAME=gestion_documental
DJANGO_DB_USER=gestion_app
DJANGO_DB_PASSWORD=change-me-db-password
DJANGO_DB_HOST=db
DJANGO_DB_PORT=5432

DJANGO_STATIC_ROOT=/app/static
DJANGO_MEDIA_ROOT=/app/media

DJANGO_SECURE_SSL_REDIRECT=True
DJANGO_SESSION_COOKIE_SECURE=True
DJANGO_SESSION_IDLE_TIMEOUT=1800
DJANGO_CSRF_COOKIE_SECURE=True
DJANGO_SECURE_HSTS_SECONDS=31536000
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=True
DJANGO_SECURE_HSTS_PRELOAD=True
DJANGO_SECURE_CONTENT_TYPE_NOSNIFF=True
DJANGO_SECURE_REFERRER_POLICY=same-origin

DJANGO_LOG_TO_FILE=True
DJANGO_LOG_TO_CONSOLE=False
DJANGO_LOG_DIR=/app/logs
DJANGO_APP_LOG_FILE=app.log
DJANGO_SECURITY_LOG_FILE=security.log
DJANGO_LOG_MAX_BYTES=10485760
DJANGO_LOG_BACKUP_COUNT=5

DJANGO_COLLECTSTATIC=1
DJANGO_RUN_MIGRATIONS=0

DJANGO_EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
DJANGO_EMAIL_HOST=smtp.tu-operador.cl
DJANGO_EMAIL_PORT=587
DJANGO_EMAIL_HOST_USER=cobranzas@tuempresa.cl
DJANGO_EMAIL_HOST_PASSWORD=change-me-email-password
DJANGO_EMAIL_USE_TLS=True
DJANGO_EMAIL_USE_SSL=False
DJANGO_EMAIL_TIMEOUT=30
DJANGO_DEFAULT_FROM_EMAIL=Gestión Documental <cobranzas@tuempresa.cl>
DJANGO_SERVER_EMAIL=cobranzas@tuempresa.cl
DJANGO_COBRANZA_OPERATOR_EMAILS=cobranzas@tuempresa.cl,administracion@tuempresa.cl
DJANGO_COBRANZA_REPLY_TO=cobranzas@tuempresa.cl
DJANGO_COBRANZA_APP_URL=https://app.sysnergia.com/gestion/presupuestos/?estado=por_cobrar
